<robot name="none">
       <link name="none">
           <visual>
               <origin rpy="0 0 0 " xyz="0 0 0"/>
               <geometry>
                   <mesh filename="1.obj" scale="0.002 0.002 0.002"/>
               </geometry>
           </visual>
          <collision>
<origin rpy="1.57 0 0" xyz="0 0 0.25" />
              <geometry>
                  <box size="0.5008703 1.000000 0.508704" />
              </geometry>
          </collision>

          <inertial>
            <mass value="0.0" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
          </inertial>
      </link>
  </robot>