<robot name="none">
       <link name="none">
           <visual>
               <origin xyz="0 0 0" />
               <geometry>
                   <mesh filename="Wardrobe  4 door.obj"  scale="0.5 0.5 0.5"/>
               </geometry>
           </visual>
          <collision>
<origin rpy="1.57 0 0" xyz="0 0 1" />
              <geometry>
                  <box size="1.5 2 0.8" />
              </geometry>
          </collision>

          <inertial>
            <mass value="0.0" />
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
          </inertial>
      </link>
  </robot>