<robot name="none">
       <link name="none">
           <visual>
               <origin  rpy=" 0 0 -1.57" xyz="0 0 1.3" />
               <geometry>
                   <mesh filename="Fan.obj"   scale="0.2 0.2 0.2"/>
               </geometry>
           </visual>
          <collision>
<origin rpy="1.57 0 0" xyz="0 0 0.75" />
              <geometry>
                  <box size="0.576789 1.500000 0.545188" />
              </geometry>
          </collision>

          <inertial>
            <mass value=".0" />
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
          </inertial>
      </link>
  </robot>